<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets internalLogFile="d:\log.txt" internalLogLevel="Trace" internalLogToTrace="true" internalLogToConsole="true" throwExceptions="true">
		<target name="logInfo" xsi:type="File"  fileName="${basedir}/Logs/InfoLog.txt"
			  archiveFileName="${basedir}/logs/archives/InfoLog.{#####}.txt" archiveEvery ="Day" archiveNumbering="Sequence" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false"   />
		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/ErrorLog.txt" Layout="${longdate}|${level}|${message}|${newline}"
				archiveFileName="${basedir}/logs/archives/ErrorLog.{#####}.txt" archiveEvery="Day"  archiveNumbering="Sequence" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile" final ="true"/>
		<logger name="*" minlevel="Info" writeTo="logInfo"/>
	</rules>
</nlog>